{% extends 'shared/layout.html' %}
{% load thumbnail %}


{% block title %}
    home
{% endblock %}

{% block content %}
    <section class="section first-section">
        <div class="container-fluid">
            <div class="masonry-blog clearfix">
                {% for post in most_views %}
                    <div class="left-side">
                        <div class="masonry-box post-media">
                            {% thumbnail post.image '534x468' crop='center' as im %}
                                <img src="{{ im.url }}" alt="" class="img-fluid"/>
                            {% endthumbnail %}
                            <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a
                                                href="{% url 'article:category-article-list' cat=post.category.url_title %}">{{ post.category }}</a></span>
                                        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                        <small><a href="" title="">{{ post.created }}</a></small>
                                        <small><a href="#" title="">by {{ post.author }}</a></small>
                                    </div>
                                    <!-- end meta -->
                                </div>
                                <!-- end shadow-desc -->
                            </div>
                            <!-- end shadow -->
                        </div>
                        <!-- end post-media -->
                    </div>
                {% endfor %}

            </div>
            <!-- end masonry -->
        </div>
    </section>

    <section class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-list clearfix">

                            {% for article in articles %}
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="{{ article.get_absolute_url }}" title="">
                                                {% thumbnail article.image '800x800' crop='center' as im %}
                                                    <img src="{{ im.url }}" alt="" class="img-fluid"/>
                                                {% endthumbnail %}
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div>
                                        <!-- end media -->
                                    </div>
                                    <!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <span class="bg-aqua"><a href="{% url 'article:category-article-list' article.category.url_title %}">{{ article.category }}</a></span>
                                        <h4><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
                                        <p>
                                            {{ article.body | safe | truncatewords:25 }}
                                        </p>
                                        <small><a href=""><i class="fa fa-eye"></i>
                                            {{ article.views }}</a></small>
                                        <small><a href="">{{ article.created }}</a></small>
                                        <small><a href="">by {{ article.author }}</a></small>
                                    </div>
                                    <!-- end meta -->
                                </div>
                                <!-- end blog-box -->

                                <hr class="invis"/>
                            {% endfor %}


                            <!-- end blog-box -->
                        </div>
                        <!-- end blog-list -->
                    </div>
                    <!-- end page-wrapper -->

                    <hr class="invis"/>

                    <a href="{% url 'article:article-list' %}" class="btn btn-success">more article</a>
                    <!-- end row -->
                </div>
                <!-- end col -->

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="widget">
                            <h2 class="widget-title">Search</h2>
                            <form action="{% url 'home:search-article' %}" class="form-inline search-form">
                                <div class="form-group">
                                    <input type="search" name="q" class="form-control" placeholder="Search Article"/>
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Recent Posts</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    {% for post in random_post %}
                                        <a href="{{ post.get_absolute_url }}"
                                           class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                {% thumbnail post.image '50x50' crop='center' as im %}
                                                    <img src="{{ im.url }}" alt="" class="img-fluid float-left"/>
                                                {% endthumbnail %}
                                                <h5 class="mb-1">{{ post.title }}</h5>
                                                <small>{{ post.created }}</small>
                                            </div>
                                        </a>
                                    {% endfor %}

                                </div>
                            </div>
                            <!-- end blog-list -->
                        </div>
                        <!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Advertising</h2>
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="/static/upload/banner_04.jpg" alt="" class="img-fluid"/>
                                </div>
                                <!-- end banner-img -->
                            </div>
                            <!-- end banner -->
                        </div>
                        <!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Popular Categories</h2>
                            <div class="link-widget">
                                <ul>
                                    <li>
                                        <a href="#">Gardening <span>(21)</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Outdoor Living <span>(15)</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Indoor Living <span>(31)</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Shopping Guides <span>(22)</span></a>
                                    </li>
                                    <li>
                                        <a href="#">Pool Design <span>(66)</span></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end link-widget -->
                        </div>
                        <!-- end widget -->
                    </div>
                    <!-- end sidebar -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
{% endblock %}
