{% extends 'shared/layout.html' %}
{% load thumbnail %}
{% load render_partial %}
{% load ratings %}


{% block title %}
    detail
{% endblock %}


{% block content %}
    <section class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-title-area">
                            {#                            <span class="color-green"><a href="garden-category.html" title="">Gardening</a></span>#}

                            <h3>{{ article.title }}</h3>

                            <div class="blog-meta big-meta">
                                <small><a href="" title="">{{ article.created }}</a></small>
                                <small><a href="" title="">by {{ article.author }}</a></small>
                                <small><a href="#" title=""><i class="fa fa-eye"></i> {{ article.views }}</a></small>
                            </div><!-- end meta -->

                            <div class="post-sharing">
                                <ul class="list-inline">
                                    <li><a href="#" class="fb-button btn btn-primary">
                                        <span class="down-mobile">{{ article.category }}</span></a></li>
                                    <li><a href="#" class="tw-button btn btn-primary">
                                        <span class="down-mobile">{{ article.updated }}</span></a></li>
                                    {#                                    <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>#}
                                </ul>
                            </div><!-- end post-sharing -->
                        </div><!-- end title -->

                        <div class="single-post-media">
                            {% thumbnail article.image '800x460' crop='center' as im %}
                                <img src="{{ im.url }}" alt="" class="img-fluid">
                            {% endthumbnail %}
                        </div><!-- end media -->

                        <div class="blog-content">
                            <div class="pp">
                                <p>
                                    {{ article.body | safe }}
                                </p>

                            </div><!-- end pp -->
                        </div><!-- end content -->

                        <div class="blog-title-area">
                            <div class="tag-cloud-single">
                                <span>Tags</span>
                                {% for tag in article.tags.all %}
                                    <small><a href="#" title="">{{ tag.tag }}</a></small>
                                {% endfor %}

                            </div><!-- end meta -->
                            <div>{% ratings article %}</div>

                            <div class="post-sharing">
                                <ul class="list-inline">
                                    <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i>
                                        <span class="down-mobile">Share on Facebook</span></a></li>
                                    <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i>
                                        <span class="down-mobile">Tweet on Twitter</span></a></li>
                                </ul>
                            </div><!-- end post-sharing -->
                        </div><!-- end title -->

                        <hr class="invis1">

                        <div class="custombox authorbox clearfix">
                            <h4 class="small-title">About author</h4>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <img src="upload/author.jpg" alt="" class="img-fluid rounded-circle">
                                </div><!-- end col -->

                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <h4><a href="#">{{ article.author }}</a></h4>
                                    <p>
                                        {{ article.author.about_us }}
                                    </p>

                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end author-box -->

                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <h4 class="small-title">You may also like</h4>
                            <div class="row">
                                {% for article in related_article %}
                                    <div class="col-lg-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="garden-single.html" title="">
                                                    {% thumbnail article.image '800x460' crop='center' as im %}
                                                        <img src="{{ im.url }}" alt="" class="img-fluid">
                                                    {% endthumbnail %}
                                                    <div class="hovereffect">
                                                        <span class=""></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta">
                                                <h4><a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                                                </h4>
                                                <small><a
                                                        href="{% url "category-article-list" article.category.url_title %}">{{ article.category }}</a></small>
                                                <small><a href="">{{ article.created }}</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                {% endfor %}
                            </div><!-- end row -->
                        </div><!-- end custom-box -->

                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <h4 class="small-title">Comments</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="comments-list">
                                        {% if not article.comment.all %}
                                            No comment yet
                                        {% endif %}
                                        {% for comment in article.comment.all %}
                                            {% if not comment.reply %}
                                                <div class="media">
                                                    <a class="media-left" href="#">
                                                        <img src="/static/upload/author.jpg" alt=""
                                                             class="rounded-circle">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading user_name">{{ comment.user.full_name }}
                                                            <small>
                                                                {{ comment.created }}
                                                            </small></h4>
                                                        <p>
                                                            {{ comment.body }}
                                                        </p>
                                                        <a onclick="setReply({{ comment.id }})" class="btn btn-primary btn-sm">Reply</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% for reply in comment.replies.all %}
                                                <div class="media">
                                                    <a class="fa-reply-all" href="#">
                                                        <img src="/static/upload/author_01.jpg" alt=""
                                                             class="rounded-circle">
                                                    </a>
                                                    <div class="media-body">

                                                        <h4 class="media-heading user_name">{{ reply.user.full_name }}
                                                            <small>
                                                                {{ reply.created }}
                                                            </small></h4>

                                                        <p>
                                                            {{ reply.body }}
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}

                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end custom-box -->

                        <hr class="invis1">
                        {% if request.user.is_authenticated %}

                        <div class="custombox clearfix">
                            <h4 id="rep-and-com" class="small-title">Leave a Reply</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" class="form-wrapper">
                                        {% csrf_token %}
                                        <input type="hidden" id="reply_id" value="" name="reply_id">
                                        <textarea name="body" type="text" class="form-control" placeholder="Your comment"></textarea>
                                        <button type="submit" class="btn btn-primary">Submit Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <a href='{% url "account:login-page" %}' class='btn btn-primary'>login for create comment</a>
                        {% endif %}
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="widget">
                            <h2 class="widget-title">Random Posts</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    {% for post in random_post %}
                                        <a href="garden-single.html"
                                           class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                {% thumbnail post.image '50x50' crop='center' as im %}
                                                    <img src="{{ im.url }}" alt="" class="img-fluid float-left">
                                                {% endthumbnail %}
                                                <h5 class="mb-1">{{ post.title }}</h5>
                                                <small>{{ post.created }}</small>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Advertising</h2>
                            <div class="banner-spot clearfix">
                                {% thumbnail adver.image '1200x1200' crop='center' as im %}
                                    <a href='{{ adver.url }}'>
                                        <img src="{{ im.url }}" alt="" class="img-fluid"/>
                                    </a>
                                {% endthumbnail %}
                            </div><!-- end banner -->
                        </div><!-- end widget -->

                        {% render_partial 'article.views.category_sidebar_component' %}
                    </div><!-- end sidebar -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

    <script>
        function setReply(Id){
            document.getElementById('reply_id').value = Id;
            window.location.href = '#rep-and-com';
        }
    </script>
{% endblock %}

