{% extends "shared/layout.html" %}


{% block title %}register{% endblock title %}


{% block content %}
    <div class="main">
        <p class="sign" align="center">Sign Up</p>
        <form method="post" class="form1">
            {% csrf_token %}
            {{ register_form }}
            <button type="submit" class="submit" align="center">Sign Up</button>
            <p class="forgot" align="center"><a href="{% url 'account:login-page' %}">have you account?</a></p>
        </form>
    </div>
{% endblock %}

