{% load static %}

<!-- Site Icons -->
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">

<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.css" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="/static/css/font-awesome.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/style.css" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="/static/css/responsive.css" rel="stylesheet">

<!-- Colors for this template -->
<link href="/static/css/colors.css" rel="stylesheet">

<!-- Version Garden CSS for this template -->
<link href="/static/css/version/garden.css" rel="stylesheet">
<link href="/static/login/style-login.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

