<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="widget">
          <div class="footer-text text-center">
            <a href="index.html"><img src="{{ setting.logo_site.url }}" alt="" class="img-fluid" /></a>
            <p>
              {{ setting.about_us }}
            </p>
            <div class="social">
              <a href="{{ setting.facebook }}" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="{{ setting.telegram }}" data-toggle="tooltip" data-placement="bottom" title="telegram"><i class="fa fa-telegram"></i></a>
              <a href="{{ setting.instagram }}" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="{{ setting.youtube }}" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-youtube"></i></a>
              <a href="{{ setting.pintrest }}" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            </div>

            <hr class="invis" />
            <!-- end newsletter -->
          </div>
          <!-- end footer-text -->
        </div>
        <!-- end widget -->
      </div>
      <!-- end col -->
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <br />
        <br />
        <div class="copyright">
          &copy; {{ setting.copyright }}
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</footer>
<!-- end footer -->

<div class="dmtop">Scroll to Top</div>
